@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: georgia;
    background: url('../pics/bg-body.png') #fff;
}

body>h1 {
    font-family: 'Lobster';
    color: limegreen;
    background-color: white;
    border: 1px dashed lightgray;
    text-align: center;
    font-weight: lighter;
    font-size: 4rem;
    padding: 25px 0;
    width: 100%;
}
