@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: georgia;
    background: url('../pics/bg-body.png') #fff;
}

body>h1 {
    font-family: 'Lobster';
    color: limegreen;
    background-color: white;
    border: 1px dashed lightgray;
    text-align: center;
    font-weight: lighter;
    font-size: 4rem;
    padding: 25px 0;
    width: 100%;
}


.wrapper {
    margin: 40px auto;
    max-width: 1200px;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    top: 0;
}

nav ul {
    list-style: none;
    background: url("../pics/bg-menu.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    border-right: 1px dashed white;
    border-left: 1px dashed white;
    display: block;
    padding: 20px;
}

nav li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.content, .recipes, .pagination {
    display: flex;
    flex-flow: column-reverse nowrap;
}